-
    const slides = [
        {
            id: "1",
            title: "Очистка воды в коттедже",
            text: "<p>Чистая вода — необходимое условие для здоровья всех жителей дома. Каким бы ни было качество воды из природного источника, грамотный подбор системы фильтрации может устранить все негативные характеристики воды и подготовить ее для технического и бытового применения.</p><p>Разработка и установка систем фильтрации для коттеджей — одно из ведущих направлений работы нашей компании. Мы опираемся на огромный опыт реализации подобных проектов, а также на общемировую практику проектирования водоочистительных систем.</p>"
        },
        {
            id: "2",
            title: "Ультрафильтрация",
            text: "<p>Неприятный запах, странный цвет и мутность воды — проблемы, которые можно устранить с помощью ультрафильтрации. Она позволяет добиться полного разделения веществ, является менее энергозатратным способом очистки по сравнению с засыпными фильтрами.</p><p>В итоге происходит дезинфекция воды, очищение от вредных органических примесей, восстановление прозрачности, устранение запаха и обезжелезивание.</p>"
        },
        {
            id: "3",
            title: "Очистка воды от жесткости",
            text: "<p>Неприятный запах, странный цвет и мутность воды — проблемы, которые можно устранить с помощью ультрафильтрации. Она позволяет добиться полного разделения веществ, является менее энергозатратным способом очистки по сравнению с засыпными фильтрами.</p><p>В итоге происходит дезинфекция воды, очищение от вредных органических примесей, восстановление прозрачности, устранение запаха и обезжелезивание.</p>"
        },
        {
            id: "4",
            title: "Обработка воды ультрафиолетом",
            text: "<p>Ультрафиолетовое обеззараживание воды — это обработка без химических веществ. Этот метод обработки за счет фотохимической реакции, создаваемой ультрафиолетом, безвозвратно изменяет ДНК и РНК микробов, вследствие чего у них пропадает способность к регенерации и размножению.</p><p>В отличие от хлорирования, этот метод полностью безопасен для человека и занимает буквально мгновения, никак не влияя на вкус и цвет воды.</p>"
        },
        {
            id: "5",
            title: "Станции обезжелезивания",
            text: "<p>О повышенной концентрации железа в воде можно догадаться по специфическому запаху, привкусу металла, следам ржавчины, окрашивающей воду в коричневый цвет и оседающей в виде хлопьев, а также по темным разводам на выстиранной одежде.</p><p>Регулярное потребление такой воды может привести к проблемам с пищеварением, сердцем, почками и щитовидной железой, а также стать причиной быстрой утомляемости и плохого самочувствия.</p><p>Бытовая техника, контактирующая с водой с большим количеством железа сразу обзаводится ржавчиной и быстро выходит из строя.</p>"
        },
        {
            id: "6",
            title: "Очистка воды из скважины",
            text: "<p>Обеспечить коттедж водой хорошего качества можно, используя воду из артезианской скважины. Ее глубина превышает 100 метров и сюда не проникают загрязнения с поверхности почвы, тут не встретишь вредных микробов и бактерий.</p><p>Однако, на такой глубине вода богата минералами, а их переизбыток может плохо отразиться на здоровье человека. Чаще всего жидкость перенасыщена соединениями железа, кальция, марганца и магния</p>"
        },
        {
            id: "7",
            title: "Очистка воды в котельной",
            text: "<p>Чтобы тепловое оборудование прослужило долго, стоит позаботиться о качестве воды в котельной. Если она содержит металлы, посторонние примеси и коррозионно-активные вещества, то рабочие поверхности котлов будут подвержены появлению накипи, налета и коррозии.</p><p>Различные  системы водоподготовки для многоступенчатой очистки, умягчения воды, системы обратного осмоса для водогрейных и паровых котлов, позволят сохранить целостность оборудования и гарантировать эффективность его функционирования. А также минимизировать риск аварийных ситуаций.</p>"
        },
        {
            id: "8",
            title: "Блочно-модульные станции",
            text: "<p>Наша компания освоила полный цикл производства блочно-модульных станций очистки воды. От проектирования до монтажа и эксплуатации подобных станций. Множество подобных станций мы поставили в рамках Федеральной целевой программы «Чистая вода» в рамках 44-ФЗ. Спроектируем, изготовим и наладим станцию ВЗУ непосредственно под ваш анализ воды и нужды вашего предприятия.</p>"
        },
        {
            id: "9",
            title: "ЛОС",
            text: "<p>Наши модульные канализационные очистные сооружения предназначены для очистки производственных или хозбытовых сточных вод и для усреднения, глубокой биологической очистки, доочистки и обеззараживания хозяйственно-бытовых и близких к ним по составу производственных сточных вод до норм сброса в водоемы рыбохозяйственного назначения.</p>"
        }
    ]

.popup#popup-slider.popup-slider
    .popup__slider.swiper-container 
        .swiper-wrapper 
            each slide in slides
                .swiper-slide.popup__slide
                    .popup__slide-content
                        .popup__slide-top
                        .popup__slide-img
                            picture
                                source(srcset="img/slides/" + slide.id + ".webp" type="image/webp")
                                source(srcset="img/slides/" + slide.id + ".jpg" type="image/png")
                                img.lazy(src="img/slides/" + slide.id + ".jpg", alt="")
                        .popup__slide-info
                            .popup__slide-title= slide.title
                            .popup__slide-text!= slide.text
        .popup__slider-navigation
            .popup__slider-arrow.popup__slider-arrow--prev
                img.lazy(src="img/svg/arrow-popup.svg", alt="")
            .swiper-pagination
            .popup__slider-arrow.popup__slider-arrow--next
                img.lazy(src="img/svg/arrow-popup.svg", alt="")
