header.header
    .shadow
    .l-default
        .header__wrapper
            .header__logo       
                img.lazy(src="img/svg/logo.svg", alt="")
            .header__menu
                a.header__menu-item.scroll(href="#about") О нас     
                a.header__menu-item.scroll(href="#catalog") Каталог
                a.header__menu-item.scroll(href="#stages") Этапы работ
                a.header__phone(href="+74955404698") +7 (495) 540-46-98 
                span.header__time с 10:00 до 19:00 пн-вс
            .header__burger 
                span 
                span 
                span 