section.about#about
    .l-default 
        .about__block.block__text.block__text--right
            .block__text-text.effect.effect--left
                h2.block__text-title.title.title--h2 О компании
                .block__text-p  
                    p У нас за плечами многолетний опыт работы. Сотрудниками нашей компании на сегодняшний день установлено более тысячи систем водоподготовки для объектов различной величины.  
                    p Мы поставляем оборудование только ведущих зарубежных и отечественных производителей, которые гарантируют надежность своей продукции.
            .about__block-img.block__text-img.effect.effect--right 
                picture
                    source(srcset="img/about/img.webp" type="image/webp")
                    source(srcset="img/about/img.jpg" type="image/png")
                    img.lazy(src="img/about/img.jpg", alt="")