.catalog {
    padding: 100px 0 0;
    @media screen and (max-width: 991px) {
        padding: 50px 0 0;
    }
    .circle {
        min-height: 1600px;
        top: 30%;
        right: -20%;
    }
    &__title {
        margin-bottom: 80px;
        @media screen and (max-width: 991px) {
            margin-bottom: 40px;
        }
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -100px;
        @media screen and (max-width: 1199px) {
            margin: 0 -25px; 
        }
        @media screen and (max-width: 991px) {
            margin: 0;
        }
    }
    &__item {
        @include tr("all");
        width: calc(33.3333% - 200px);
        margin: 0 100px 20px; 
        padding: 20px;
        box-sizing: border-box;
        @media screen and (max-width: 1199px) {
            width: calc(33.3333% - 50px);
            margin: 0 25px 20px; 
        }
        @media screen and (max-width: 991px) {
            width: calc(50% - 50px);
        }
        @media screen and (max-width: 767px) {
            width: 100%;
            margin: 0 0 60px;
            padding: 0;
        }
        &-img {
            margin-bottom: 30px;
            img {
                display: block;
                width: auto;            
                height: 83px;
                @media screen and (max-width: 991px) {
                    height: 50px;
                }
            }
        }
        &-title {
            font-size: 24px;
            line-height: 120%;
            font-weight: 600;
            margin-bottom: 20px;
            @media screen and (max-width: 991px) {
                font-size: 20px;
            }
        }
        &-text {
            max-width: 244px;
            font-size: 16px;
            line-height: 140%;
            margin-bottom: 20px;
        }
        &-link {
            font-size: 16px;
            font-weight: 600;
            color: $blue;
            @media screen and (max-width: 991px) {
                font-size: 14px;
            }
        }
    }
}